h2.resp-accordion {
    cursor: pointer;
    display: none;
}

.resp-tabs-container .resp-tab-content {
    padding: 15px;
}

h2.resp-accordion {
    margin: 0px;
    padding: 10px 15px;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;
}
.resp-easy-accordion  h2.resp-accordion {
        /*display: block;*/
}
.resp-easy-accordion .resp-tab-content {
    /*border: 1px solid #c1c1c1;*/
}

.resp-jfit {
    /*width: 100%;*/
    /*margin: 0px;*/
}

.resp-tab-content-active {
    /*display: block;*/
}

h2.resp-accordion:first-child {
    /*border-top: 1px solid #c1c1c1 !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .resp-tab-content-active h2 {
        display: none;
    }
}
